<!-- Hidden with actions -->
@Html.Hidden("SearchAction", Url.Action("Search", "Championship"))
@Html.Hidden("EditAction", Url.Action("Add", "Championship"))
@Html.Hidden("DeleteAction", Url.Action("Delete", "Championship"))

<div id="main" class="container-fluid">
    <div id="top">
        <div id="title" class="row">
            <div class="col-md-3">
                <h2>Campeonato</h2>
            </div>
        </div>
        <div id="fields" class="row">
            <div class="col-md-6">
                <div class="input-group h2">
                    <input id="inputSearchChampionship" name="data[search]" class="form-control" id="search" type="text" placeholder="Nome do campeonato">
                    <span class="input-group-btn">
                        <button id="btnSearchChampionship" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-3">
                <a href="#" name="NovoCampeonato" class="btn btn-primary h2">Novo Campeonato</a>
            </div>
        </div>
    </div>
    <!-- /#top -->

    <hr />

    <div id="divSemResultado" style="display: none">
        <p>Nenhum campeonato encontrado.</p>
    </div>


    <div id="divListChampionship" class="row">
        <div class="table-responsive col-md-12">
            <table id="tblResult" class="table table-striped" cellspacing="0" cellpadding="0" style="display: none">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Jogadores</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    

    
</div>


@Scripts.Render("~/bundles/championshipsearch")