<div>
    <!-- Form fields -->
    <div class="row">
        <div class="form-group col-md-4">
            <label for="Name">Nome</label>
            <input type="text" class="form-control" id="Name">
        </div>
    </div>

    <hr />
    <div id="actions" class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="index.html" class="btn btn-default">Cancelar</a>
        </div>
    </div>
</div>
