@model IList<Gamer.Models.PlayerRowViewModel>

@if (Model != null && Model.Count > 0)
{
    <!-- Create rows of search player -->
    foreach (Gamer.Models.PlayerRowViewModel player in Model)
    {
    <tr data-id="@player.PlayerId">
        <td>@player.PlayerName</td>
        <td class="actions">
            <a class="btn btn-warning btn-xs" name="Editar" href="#">Editar</a>
            <a class="btn btn-danger btn-xs" name="Excluir" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
        </td>
    </tr>
    }
    
}
